body {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.diceContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.dice {

  font-size: 32px;
}

h1 {
  font-weight: bolder;
  font-size: 40px;
  letter-spacing: 2px;
}

p {
  width: 300px;
  height: 100px;

}

.win {
  font-weight: bolder;
  font-size: 50px;

}

.mainBody {
  background-color: #F5F5F5;
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 50px solid #0B2434;

}

.dice-box {

  height: 50px;
  width: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #5035FF;

  color: white;
  width: 100px;
  height: 40px;
  border: 2px solid #5035FF;
  margin-top: 10px;
  border-radius: 10px;
}