* {
  box-sizing: border-box;
}
.shellout {
  background-color: #0b2434;
  position: absolute;
  width: 360px;
  height: 379px;
  left: 76px;
  top: 69px;
}
.shellin {
  position: absolute;
  width: 320px;
  height: 320px;
  left: 20px;
  top: 30px;
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
h1 {
  margin: 0;
  text-align: center;
}
p {
  text-align: center;
}
.dice-container {
  height: 40%;
  width: 80%;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 5px;
}

.dice {
  color: #2b283a;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}
